[Desktop Entry]
Type=Application
Name=Обновить систему
Comment=Установить обновления
Exec=homeplay-update
Icon=system-software-update
Terminal=false
Categories=System;
